@font-face {
  font-family: 'Poiret One';
  src: url('fonts/Poiret_One/PoiretOne-Regular.eot');
  src: url('fonts/Poiret_One/PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Poiret_One/PoiretOne-Regular.woff') format('woff'),
       url('fonts/Poiret_One/PoiretOne-Regular.ttf') format('truetype'),
       url('fonts/Poiret_One/PoiretOne-Regular.svg#PoiretOne-Regular') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('fonts/Noto-Sans/NotoSans-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Noto Sans-Bold';
  src: url('fonts/Noto-Sans/NotoSans-Bold.ttf') format('truetype'); 
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Poiret One', cursive;
}

.topside{
	 padding-top: 25px;
	background-color: #201e20;
}

ul {
    list-style-type: none;
    margin: 0px;
    background-color: #6bace1;
    padding-bottom: 2px;
}

li {
	float:right;
    font-size: 17px;
    margin-right: 70px;
}

li a {
    display: block;
    color: white;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;	
    padding: 19px 15px;
}

li a:hover {
	color: #f2f2f2;
	display: block;
	background-color: #161616; 
	transition: .3s ease;
}

.onmenu{
	color: #161616 !important;	
	background-color: #479ee8 !important; 
}

.center{
	text-align: center;
}

form {
	margin: auto;
	width: 300px;
	padding: 50px;
}

input{
	padding: 10px;
	font-size: inherit;
	margin-left: 10px;
}

input[type="text"] {
	display: block;
	margin-bottom: 20px;
	width: 85%;
}

input[type="email"] {
	display: block;
	margin-bottom: 20px;
	width: 85%;
}

input[type="radio"]{
	margin: 0 8px 25px 18px;
}

input[type="submit"]{
	width: 150px;
	height: 45px;
	border: none;
	background: steelblue;
	color: white;
	margin-left: 75px;
	transition: 0.4s ease;
}

input[type="submit"]:hover{
	background: #201e20;
}

.form-text{
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px;	
}

.title{
	font-size: 30px;
	font-family: 'Poiret One', cursive;
	margin-top: 500px;
	text-align: center;
	margin-bottom: 500px;
}

.titleresume{
	font-size: 30px;
	font-family: 'Poiret One', cursive;
	margin-top: 500px;
	text-align: center;
	margin-bottom: 500px;
}

.otherheading{
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 65px;
	color: #2a83cc;
}

.bgcolour-grey{
	background-color: #eee;
}

.bgcolour-blue{
	background-color: #6bace1;
}

.getresume-BG{
	background-color: #eee;
}

.degreeplan{
	width: 50%;
	color: #4a88ba;
	transition: transform .5s;
}

.degreeplan:hover {
    -ms-transform: scale(1.6); /* IE 9 */
    -webkit-transform: scale(1.6); /* Safari 3-8 */
    transform: scale(1.6); 
}

.workimage-logo{
	width: 160px;
	float: left;
	margin-right: 50px;
}

.workimage-logo:hover{
	opacity: 0.5;
	transition: .4s ease;
}

.nbcf-image{
	margin-top: -10px;
	width: 165px;
	margin-bottom: -25px;
}

.workheading-text{
	color: white;
	text-decoration: none;
	font-size: 30px;
}

/* Background images taken from unsplash and pexels */

.bg1-home{
	background: url(images/15.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 875px;
}

.bg2-home{
	background: url(images/yolanda-sun-40675.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
	margin-bottom: 200px;
}

.custom-project-arrow-mobile{
		visibility: hidden;
}

/* Laptop */
@media only screen and (max-width: 992px) {
	.degreeplan{
		width: 75%;
	}
	.degreeplan:hover {
	    -ms-transform: scale(1.4); /* IE 9 */
	    -webkit-transform: scale(1.4); /* Safari 3-8 */
	    transform: scale(1.4); 

	}

	.top-arrow{
		margin-top: -35px !important;
	}
}

/* Menu Shrink */
@media only screen and (max-width: 970px) {

	li a {
    	padding: 19px 10px;
    	margin-right: 0px;
	}
}

/* iPad */
@media only screen and (max-width: 768px) {

	.logo{
		margin-left: 0 !important
	}

	li {
	    font-size: 16px;
	    margin-right: 50px;
	}

	li a {
	    padding: 20px 5px;
	}

	.bg1-home{    
		background-position: 70%;
	}

	.bg2-home, .bg2-experience, .bg2-projects{
		height: 350px !important;
		margin-bottom:100px !important;
	}

	.bg3-home, .bg3-experience, .bg3-projects{
		height: 350px !important;
		margin-top: 0px !important;
		margin-bottom: 100px !important;
	}

	.quote{
		font-size:25px !important;
	}

	.quote-container{
		padding: 75px !important;
	}

	.degreeplan{
		width: 75%;
	}

	.degreeplan:hover {
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
	}

	.box {
		width: 100% !important;
		clear: both;
	}

	.googledesign-image{
		width: 535px !important;
		height: 500px !important;
	}

	.gamevideo{
		width: 540px !important;
		height: 550px !important;
	}

	.style14{
		margin-top:-15px !important;
		margin-bottom: -25px !important;
	}


	.custom-project-arrow-mobile{
		margin-top: -100px !important;
		visibility: visible !important;
	}	

	hr.style14{
		visibility: hidden;
	}
}

/* Menu Dropdown */
@media only screen and (max-width: 655px) {
	li {		
		background-color: #6bace1;
		float: none;
	    font-size: 20px;
	    margin-right: -20px !important;
	    margin-left: -40px;
	}

	li a {
	    display: block;
	    padding: 15px 75px;	    
	    color: #eee;
	}

	li a:hover {
		color: #201e20;
		background-color: #57a1e0 ;	
		transition: .0s;
	}

	.onmenu{
		background-color: #57a1e0 !important;
	}

	.logo{
		margin-left: -15px !important
	}

	.bg1-home{
		height: 600px;
	}
}

.bg1-experience{
	background: url(images/voros.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}

.bg2-experience{
	background: url(images/laptopp.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
	margin-bottom: 200px;
}

.bg1-projects{
	background: url(images/11.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}

.bg2-projects{
	background: url(images/closlap.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
	margin-bottom: 200px;
}

.bg-error{
	background: url(images/macbook_ca.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}

.bg2-hireme{
	background: url(images/coding.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
	margin-bottom: 200px;
}

.container{
	width: 100%;
	margin-left:15%;
	color: white;
	margin-top: -50px;
}

.text{
	max-width: 70%;
}

.black{
	color: black;
}

.logo{
	margin-left: 10px; 
	margin-top: 5px;
	width:50px;
}

.logo:hover {
    opacity: 0.7;
}

.box{
	float: left;
	width: 50%;
	margin-top: 50px;
	height: 650px;
}

.googledesign-image{
	width: 500px;
	height: 450px;
}

.gamevideo{
	width: 500px;
	height: 500px;
}

.game-thumbnail{
	display: none;
}
.clear{
	clear: both;
}

.bg3-home{
	background: url(images/13.jpg) no-repeat center center fixed;
	height: 605px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 200px;
}

.quote{
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
}

.quote-container{
		padding: 165px;
}

.bg3-experience{
	background: url(images/14.jpg) no-repeat center center fixed;
	height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 200px;
}

.bg3-projects{
	background: url(images/ferran-fusalba-99198.jpg) no-repeat center center fixed;
	height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 200px;
}

.bg3-hireme{
	background: url(images/apple_mac.jpg) no-repeat center center fixed;
	height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 300px;
	margin-bottom: 200px;
}

.bg4-hireme{
	background: url(images/closlap.jpeg) no-repeat center center fixed;
	height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 300px;
	margin-bottom: 200px;
}

.heading{
	text-align: center;
	margin-bottom: 10px;
}

.hide-heading{
	opacity: 0.0;
}

.heading-project{
	text-align: left;
	margin-right: 75px !important;
}

.heading-project-interests{
	text-align: center;
	margin-bottom: 60px !important;
}

.heading2-hireme{
	margin-left: 45.5%;
	margin-bottom: 10px;
	margin-top: 300px;
}

.piechartstyle{
	width: 900px; 
	height: 500px;
}

h1{
	font-size: 65;
	margin-bottom: 0px;
	margin-top: 50px;
}

h2{
	font-size: 17;
	margin-top: 0px;
}

h3{
	font-size: 40px;
	margin-bottom: 20px;
}

h4{
	font-size: 25px;
	margin-bottom: 0px;
	margin-top: 25px;
}

p{
	font-size: 15px;
	font-family: 'Noto Sans';
}

.quicknav{
	width: 65px; 
	height: 65px;
	margin-top: 75px;
	transition: transform .35s;
	margin-bottom: 5px;
}

.quicknav:hover{
	-ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 	
}
.quicknav-custom{
	margin-top: 0 !important;
}

.hide-arrow{
	margin: -50px 0px;
	visibility: hidden;
}

.question_mark{
	margin-top: 25px;
}

.leftIcon{
    float:left;
    padding:10px;
}

.rightIcon{
    float:right;
    padding: 10px;
}

.footer {
    height: 285px;
	background-color: #6bace1;
}

.footer-custom{
	height: 449px;
	background-color: #6bace1;
}

.top-margin{
	margin-top: -40px;
}
.happy-sadimage{
	width: 100px;
}
	
 .pp{
 	margin-top: 50px;	
 	padding-top: 50px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
 }

.language-java{
	height: 650px;
}

hr.style9 {
	border-top: 40px dashed #6bace1;
	border-bottom: 1px dashed #fff;
}

hr.style14 { 
	margin-top: -50px;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #6bace1, #ffffff, #6bace1);
  background-image: -moz-linear-gradient(left, #6bace1, #ffffff, #6bace1);
  background-image: -ms-linear-gradient(left, #6bace1, #ffffff, #6bace1);
  background-image: -o-linear-gradient(left, #6bace1, #ffffff, #6bace1); 
}

.contact-link-error:hover, .contact-link:hover, .workheading-text:hover{
	color: #2a83cc;
	transition: .3s ease;
}

.footer-heading-404{
	color: white;
	text-align: center;
	margin-left: 1%;
}

.contact-link-error {
    color: #1770b7;
    font-size: 20px;
    text-decoration: none;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: black;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-youtube {
    background: black;
    color: white;
}

.footer-heading{
	color: white;
	padding-top: 50px;
	text-align: center;
	margin-bottom: -10px;
}

.footer-info{
	font-family: 'Poiret One', cursive;
	text-align: center;
	font-weight: bold;
}

.fm{
	margin-left: 80px;
}

.delay3{
	animation-delay: 3s;
}

.delay2{
	animation-delay: 2s;
}

.delay1{
	animation-delay: 1s;
}

.delay0-2{
	animation-delay: 0.2s;
}
.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

/* Mobile Version */
@media only screen and (max-width: 490px) {

	.title{
		font-size: 25px;
		margin-top: 150px;
		margin-bottom: 200px;
	}

	.bg1-home, .bg1-experience, .bg1-projects{
		height:500px;
	}

	.container{
		margin-top: 0 !important;
	}
	.footer-heading{
		font-size: 33px; 
		padding-top: 25px;
	}

	.fm{
		margin-left: 0;
	}

	.rightIcon img, .leftIcon img{
		display: none;
	}

	.footer{
		height:240px;
	}
	
	.footer-logo{
		margin-top: 20px !important;
	}

	.fa{
		margin-top: 40px !important;
	}

	.degreeplan{
		width: 85%;
	}

	.degreeplan:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
	}

	.quote{
		font-size: 17px !important;
	}

	.quote-container{
		padding: 95px !important;
	}

	.quote-edit2{
		padding: 70px !important;
	}

	.quote-edit3{
		padding: 80px !important;
	}

	.quote2{
		font-size:16px !important;
	}

	.experience-margin{
		margin-bottom: 25px !important;
	}

	.text p{
		font-size: 13px !important;
	}

	.piechartstyle{
		width: 635px !important;
		margin-left: -100px !important;
	}

	.box{
		width: 100%;
		margin-top: 0px !important;
		height: 625px !important;

	}

	.googledesign-image{
		width: 275px !important;
		height: 250px !important;
	}

	.gamevideo{
		width: 400px !important;
		height: 275px !important;
		margin-left: -60px !important
	}

	.language-java{
		margin-top: -200px !important;
		width: 245px !important;
		font-size: 10px;
	}

	.project-container{
		margin-top: -50px !important;
		margin-bottom: -50px !important;
	}
	.style14{
		margin-top:-85px !important;
		margin-bottom: 15px !important;
	}

	#first-project, #second-project{
		margin-right: 10px !important;
	}
	
	.heading-project-interests{
		margin-bottom: 0 !important;
	}

	.quicknav-custom-mobile{
		margin-top: -75px !important;
	}

	.hide-arrow{
		margin: 0px;
		visibility: visible;
	}

	form {
		margin-left: -50px !important;
		width: 90%;
	}

	input[type="text"], input[type="email"] {
		width: 100%;
	}

	.submitcenter-mobile{
		text-align: center;
	}

	input[type="submit"] {
		margin-left: 35px;
	}
}

/* Device Only*/
@media only screen and (max-device-width: 490px) {
	.gamevideo{
		visibility: hidden;
	}
	.game-thumbnail{
		display: block;
		margin-top: -250px;
	}

	.thumbnailedit{
		text-align: center;
		font-size: 11px;
	}
}
.contact-link {
    color: #cce5ff;
    font-size: 14px;
    text-decoration: none;
}

.footer-logo{
	width:50px;
	margin-top: 25px; 
	margin-bottom: -35px;
}

.footer-logo:hover{
	opacity: 0.7;
}

.endblack{
	background-color: black;
	padding: 10px;
}

.endblack-resume{
	background-color: black;
	padding: 13px;
}

.copyright{
	color: white;
	text-align: center;
	font-size: 11px;
}
